.gallery {
    position: relative;
}

.gallery__title-wrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 100;
}

.gallery__title {
    font-size: 22px;
    line-height: 30.05px;
    z-index: 100;
    color: #FFFFFF;
}

.gallery__controls-wrapper {
    position: absolute;
    bottom: 165.33px;
    width: 100%;
}

.gallery__control {
    display: flex;
    gap: 24.38px;
}

.galley__text-wrapper {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.gallery__text {
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    max-width: 420px;  
}

.gallery__slides {
    position: relative;
    height: 717px;
}

.gallery__slide {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.gallery__slide_active {
    opacity: 1;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery__control-next,
.gallery__control-prev {
    background-repeat: no-repeat;
    width: 40px;
    height: 37px;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.gallery__control-prev {
    background-image: url('../resources/gallerypbutprev.png');
}

.gallery__control-next {
    background-image: url('../resources/gallerypbutnext.png');
}

.gallery__control-prev:hover,
.gallery__control-next:hover {
    opacity: 0.5;
}

@media (max-width: 1199px) {
    .gallery__title-wrapper {
        width: 100%;
        top: 80px;
    }

    .gallery__title {
        font-size: 20px;
        line-height: 27.32px;
    }

    .galley__text-wrapper {
        bottom: 80px;
    }

    .gallery__text {
        max-width: 375px;
        font-size: 25px;
        line-height: 34.15px; 
    }

    .gallery__controls-wrapper {
        bottom: 152px;
    }

    .gallery__control {
        display: flex;
        gap: 14px;
    }

    .gallery__slides {
        height: 563px;
    }
}

@media (max-width: 767px) {
    .gallery__title-wrapper {
        top: 61px;
    }

    .gallery__title {
        font-size: 14px;
        line-height: 19.12px;
    }

    .galley__text-wrapper {
        bottom: 60px;
    }

    .gallery__text {
        max-width: 270px;
        font-size: 19.01px;
        line-height: 25.97px; 
    }

    .gallery__controls-wrapper {
        bottom: 50%;
    }

    .gallery__control {
        display: flex;
        justify-content: space-between;
        gap: 14px;
    }

    .gallery__slides {
        height: 408px;
    }
}