.header {
    padding-top: 32px;
}

.head__logo {
    line-height: 38px;
    display: inline-block;  
}

.metrika {
    display: block;
}

.head__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.head__nav a:hover {
    opacity: 0.5;
    border-bottom: rgba(0, 0, 0, 0.5);
}

.head__link {
    display: block;
    font-size: 17.5px;
    line-height: 26px;
    text-decoration: none;
}

.head__link:hover {
    border-bottom: 1px solid transparent;
}


@media (max-width: 1199px) {
    .head__nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .head {
        padding-top: 31px;
    }

    .head__nav {
        display: none;
    }
}